{% extends 'base.html.twig' %}

{% block title %}Registrar{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet"  href="{{ asset('Css/Login/index.css') }}" />


{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin ">
                    <div class="card-body">
                        <img  src="{{ asset('Panel/images/logoText.png') }}" alt="R.A.C" class="dark-logo" />
                        <h5 class="card-title text-center">Registro</h5>

                        {% for flash_message in app.session.flashbag.get('notice') %}
                            <div class="flash-notice">
                                {{ flash_message }}
                            </div>
                        {% endfor %}

                        {%form_theme  form  'bootstrap_3_layout.html.twig'%}
                        {# {% formulario form_theme 'bootstrap_3_horizontal_layout.html.twig'%} #}

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div>


                            <div class="form-label-group">
                                {{form_widget(form.username, {'attr': {'class': 'form-control','placeholder': 'Nombre'}}) }}
                                {{ form_label(form.username, 'Ingrese su nombre', {'label_attr': {'for': 'inputNombre'}}) }}

                            </div>

                                <div class="form-label-group">
                                    {{form_widget(form.codigo, {'attr': {'class': 'form-control','placeholder': 'Codigo'}}) }}
                                    {{ form_label(form.codigo, 'Ingrese su codigo', {'label_attr': {'for': 'inputCodigo'}}) }}

                                </div>


                                <div class="form-label-group">
                                    {{form_widget(form.sys_val, {'attr': {'class': 'custom-select selectForm'}}) }}
                                </div>


                            <div class="form-label-group">
                                {{form_widget(form.password, {'attr': {'class': 'form-control','placeholder': 'Contrase単a'}}) }}
                                {{ form_label(form.password, 'Ingrese una contrase単a', {'label_attr': {'for': 'inputPassword'}}) }}

                            </div>

                            <div class="form-label-group">
                                {{form_widget(form.roles, {'attr': {'class': 'form-control','placeholder': 'Contrase単a'}}) }}
                                {{ form_label(form.roles, 'Ingrese otra vez la contrase単a', {'label_attr': {'for': 'inputPassword'}}) }}

                            </div>

                            <div class="form-label-group">
                                {{form_widget(form.email, {'attr': {'class': 'form-control','placeholder': 'Email'}}) }}
                                {{ form_label(form.email, 'Ingrese su correo', {'label_attr': {'for': 'inputEmail'}}) }}

                            </div>


                            <div>
                                {{form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary btn-block text-uppercase','style':'font-size: 80%;font-weight: bold;padding: 1rem'}}) }}
                            </div>

                            {{ form_errors(form) }}

                        </div>

                        {{ form_end(form) }}


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Js/Login/index.js') }}"></script>
{% endblock %}