{% extends 'layout.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Email campaign chart -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Asistencia</h4>
                        <div class="sales ct-charts mt-3"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- Email campaign chart -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Ravenue - page-view-bounce rate -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Latest Sales</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="border-top-0">CURSO</th>
                                <th class="border-top-0">DOCENTE</th>
                                <th class="border-top-0">SALON</th>
                                <th class="border-top-0">ESTADO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="txt-oflo">Topicos de Ingenieria de sitemas</td>
                                <td class="txt-oflo">Topbias Aliaga Vilchez </td>
                                <td><span class="font-medium">ST-204</span></td>
                                <td><span class="label label-success label-rounded">En clase</span> </td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Fisica II</td>
                                <td class="txt-oflo">Michael Jorden</td>
                                <td><span class="font-medium">ST-102</span></td>
                                <td><span class="label label-info label-rounded">Proximo</span> </td>

                            </tr>
                            <tr>

                                <td class="txt-oflo">Lenguaje de programación orientado a objetos</td>
                                <td class="txt-oflo">Ronny Hancco</td>
                                <td><span class="font-medium">Lab-A</span></td>
                                <td><span class="label label-success label-rounded">En clase</span> </td>

                            </tr>
                            <tr>

                                <td class="txt-oflo">Lenguaje de programación estructurada</td>
                                <td class="txt-oflo">Roy Palacios Rezza</td>
                                <td><span class="font-medium">Lab-D</span></td>
                                <td><span class="label label-purple label-rounded">Esperando</span></td>
                            </tr>
                            <tr>

                                <td class="txt-oflo">Administracion de base de datos</td>
                                <td class="txt-oflo">Manuel Velarde</td>
                                <td><span class="font-medium">ST-207</span></td>
                                <td><span class="label label-danger label-rounded">Tardanza</span></td>

                            </tr>
                            <tr>

                                <td class="txt-oflo">Matematica Aplicada</td>
                                <td class="txt-oflo">Jose Angulo</td>
                                <td><span class="font-medium">ST-202</span></td>
                                <td><span class="label label-danger label-rounded">Tardanza</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Ravenue - page-view-bounce rate -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recent Comments</h4>
                    </div>
                    <div class="comment-widgets" style="height:430px;">
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2">
                                <img src="{{ asset('Panel/images/users/1.jpg') }}" alt="user" width="50" class="rounded-circle">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-medium">Jose Angulo</h6>
                                <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry. </span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2016</span>
                                    <span class="label label-rounded label-primary">Pending</span>
                                    <span class="action-icons">
                                                    <a href="javascript:void(0)">
                                                        <i class="ti-pencil-alt"></i>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="ti-check"></i>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="ti-heart"></i>
                                                    </a>
                                                </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2">
                                <img src="{{ asset('Panel/images/users/4.jpg') }}" alt="user" width="50" class="rounded-circle">
                            </div>
                            <div class="comment-text active w-100">
                                <h6 class="font-medium">Michael Jorden</h6>
                                <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry. </span>
                                <div class="comment-footer ">
                                    <span class="text-muted float-right">April 14, 2018</span>
                                    <span class="label label-success label-rounded">Approved</span>
                                    <span class="action-icons active">
                                                    <a href="javascript:void(0)">
                                                        <i class="ti-pencil-alt"></i>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="icon-close"></i>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="ti-heart"></i>
                                                    </a>
                                                </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2">
                                <img src="{{ asset('Panel/images/users/5.jpg') }}" alt="user" width="50" class="rounded-circle">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-medium">Manuel Velarde</h6>
                                <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry. </span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2018</span>
                                    <span class="label label-rounded label-danger">Rejected</span>
                                    <span class="action-icons">
                                                    <a href="javascript:void(0)">
                                                        <i class="ti-pencil-alt"></i>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="ti-check"></i>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="ti-heart"></i>
                                                    </a>
                                                </span>
                                </div>
                            </div>
                        </div>
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2">
                                <img src="{{ asset('Panel/images/users/2.jpg') }}"  alt="user" width="50" class="rounded-circle">
                            </div>
                            <div class="comment-text w-100">
                                <h6 class="font-medium">Steve Jobs</h6>
                                <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry. </span>
                                <div class="comment-footer">
                                    <span class="text-muted float-right">April 14, 2018</span>
                                    <span class="label label-rounded label-primary">Pending</span>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-check"></i>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="ti-heart"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
    </div>
{% endblock %}


{% block javascripts %}
    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
{% endblock %}
